html, body {
    background-color: #fff3b0;
    opacity: 1;
    background-image: linear-gradient(30deg, #f3df71 12%, transparent 12.5%, transparent 87%, #f3df71 87.5%, #f3df71), linear-gradient(150deg, #f3df71 12%, transparent 12.5%, transparent 87%, #f3df71 87.5%, #f3df71), linear-gradient(30deg, #f3df71 12%, transparent 12.5%, transparent 87%, #f3df71 87.5%, #f3df71), linear-gradient(150deg, #f3df71 12%, transparent 12.5%, transparent 87%, #f3df71 87.5%, #f3df71), linear-gradient(60deg, #f3df7177 25%, transparent 25.5%, transparent 75%, #f3df7177 75%, #f3df7177), linear-gradient(60deg, #f3df7177 25%, transparent 25.5%, transparent 75%, #f3df7177 75%, #f3df7177);
    background-size: 60px 105px;
    background-position: 0 0, 0 0, 30px 53px, 30px 53px, 0 0, 30px 53px;
}

.draggable-audio-box {
    z-index: 99;
    background-color: white;
}

.draggable-audio-box.dragging {
    opacity: 0;
}

.night-night {
    z-index: 99;
}

.night-night button {
    k z-index: 9999;
    font-size: 28px;
}


.night-night .playBox2,
.night-night .playBox {
    position: fixed;
    top: 300px;
    height: 100px;
    left: 0;
    right: 0;
    width: 100%;
    border: 1px solid #000;
    border-inline: 0;
}

.night-night .playBox2 {
    top: 400px;
    height: 100px;
    border-top: 0;
}

.night-night .game-button {
    position: absolute;
    top: 500px;
}

.night-night .game-button button {
    padding: 2rem;
    padding-inline: 4rem;
    border-radius: 9px;
    margin-inline: 8px;
    background-color: #f3df71;
}