.blades-page {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.blades-wrap .blades {
  transition: all 959s;
}

.rotate .blades {
  transform: rotate(200000deg);
}

.blade-count {
  display: flex;
  justify-content: center;
  margin-top: 4em;
}

.blade-count input {
  font-size: 22px;
  padding: 1em;
}