.spinner {
  text-align: center;
  padding: 100px 0 0;
}

.spinner img {
  transition: all var(--spintimer);
}

.spinner.spin img {
  transform: rotate(var(--totalrotations));
}

.spinner.return img {
  transition: all 0s;
}

.control {
  max-width: 25rem;
}

.control fieldset {
  margin: 1rem;
  padding: 1rem;
}

.control fieldset input {
  font-size: 31px;
  padding: 10px;
  width: calc(100%);
  box-sizing: border-box;
}