:root {
    --colora :rgba(255,255,255,.6);
}

html {
}

.main {
  padding:3px;
  touch-action: manipulation;
  box-sizing: border-box;
}

.calculator-wrap {
  padding:3px;
  touch-action: manipulation;
  box-sizing: border-box;
  margin-top:100px;
}

.calculator {
  max-width: 800px;
  margin: auto;
}

.calculator .log {
  background-color: var(--colora);
  border-radius: .4em;
  padding:1em;
}

.meta-grid {
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-gap:9px;
  min-height:500px;
}

.meta-grid .log {
  text-align: right;
}


.calculator-grid {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-rows: repeat(5, 2fr); */
  grid-gap:9px;
}

.calculator-grid button {
  font-size: 42px;
  border-radius: 2em;
  border: none;
  touch-action: manipulation;
}

.calculator-grid button:hover {
  color:inherit;
  box-shadow: 0 0 9px rgba(0,0,0,.24);
  /* outline:1px solid rgba(0,0,0,.1); */
}

.calculator-grid button.a {
  background-color: var(--color1);
}

.calculator-grid button.n {
  background-color: var(--color4);
}

.calculator-grid button.g {
  background-color: var(--color3);
  color: var(--color4);
}

.calculator-grid button.double {
  /* grid-column-start: 1;
  grid-column-end: 3; */
  /* grid-column: 1 / 3; */
  grid-column: span 2;
}


.calculator-grid .i {
    grid-column: span 4;
    grid-row: span 1;
    font-size: 45px;
    /* padding: 10px; */
    box-sizing: border-box;
    text-align: right;
    /* border: 1px solid black; */
    background-color: var(--color4);
    /* justify-self: center; */
    /* align-self: center; */
    border-radius: 0.3em;
    display: grid;
    align-items: center;
    background-color: var(--colora);
    grid-gap: 0;
    gap: 0;
}

.calculator-grid .i > div {
  padding: 12px;
}

.calculator-grid .i > div:first-child {
  border-bottom:1px solid var(--color2);
}

.calculator-grid .i2 {
  font-size: 20px;
}


@media (max-width:430px) {

  .meta-grid {
    /* display: block; */
    max-width:initial;
    padding:14px;
    grid-gap: 0;
    grid-template-columns: 1fr;
  }

  .meta-grid .log {
    display: none;
  }

  .calculator-grid {
    grid-gap:7px;
  }

  .calculator-grid button {
    font-size: 29px;
    border-radius: 1em;
    border: none;
  }

}