dialog:not([open]) {
  display: none;
}

dialog {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.1);
}

dialog {
  background-color: white;
  max-height: 80vh;
  /* margin-top: 6rem; */
  width: 66.6667%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border-radius: 0.875rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  box-shadow: 0 2px 8px 1px rgba(0,0,0,.2);
}

dialog::backdrop {
  background: rgba(255, 0, 0, 0.3);
  backdrop-filter: blur(3px);
}

dialog > form[method=dialog] {
  text-align: right;
  margin-bottom: -1em;
}
dialog > form[method=dialog] > button {
  border:none;
  background-color: transparent;
  outline: transparent;
}

@media (max-width:750px) {
  dialog {
    max-height: 100vh;
    max-width: 100vh;
    width: 100%;
    border-radius: 0;
  }
}