:root {
    --color1 :#5bccf6;
    --color2 :#fcde67;
    --color3 :#030e12;
}


html {
    font-size: 16px;
    padding: 20px;
    font-family: CooperHewitt;
    color: var(--color3);
    background-color: var(--color2);
}

a {
    color:var(--color1);
    text-decoration: none;
}

a:hover {
    color:var(--color3);
}

button {
    background-color: var(--color2);
    border: 2px solid var(--color3);
    user-select: none;
    cursor: pointer;
}

button:hover {
    background-color: var(--color3);
    color: var(--color2);
}

input {
}


.math-problems {
    /* display: flex;
    flex-wrap: wrap;
    gap: 4em 1em;
    font-size: 25px; */
}

.math-problems .problem {
    display: block;
    white-space: nowrap;
    max-width: 30em;
    margin:auto;
    text-align: center;
}

.math-problems .problem .num1,
.math-problems .problem .num2 {
    display: inline-block;
    font-size: 38px;
    font-weight: 600;
}

.math-problems .problem .act,
.math-problems .problem .equals {
    display: inline-block;
    padding: .2em;
    margin: .2em;
    font-size: 38px;
    font-weight: 100;
}

.math-problems .problem input {
    display: inline-block;
    border: 4px dashed var(--color3);
    width: 6em;
    padding: .5em;
    font-size: 2em;
    text-align: center;
    background-color: transparent;
    border-radius: .4em;
}

@media (max-width:450px) {
    .math-problems .problem input {
        display: block;
        width: calc(100% - 40px);
    }
}

.actions {
    /* text-align:center; */
    margin:1em auto;
    display: flex;
    gap: 0.4em;
    width: fit-content;
    margin-top: 5em;
}

.actions button {
    padding: .5em;
    font-size: 1.2em;
}