#jamestimer {
  /* border:10px solid red; */
  box-sizing: border-box;
}

body {
  margin:0;
  padding:0;
}

main {
  display:flex;
  flex-direction: column;
}

header svg,
header img {
  display:block;
  margin:30% auto;
}

footer {
  position:fixed;
  bottom:0;
  width:calc(100% - 36px);

}

footer > div.new-timer-section {
  padding: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer > div.new-timer-section > div {
  width: 100%;
}

footer > div.new-timer-section input {
  padding: 10px;
  font-size: 20px;
  display: block;
  width:120px;
}

footer > div.new-timer-section button {
  padding: 20px;
  width: 290px;
}

footer > div > input {
  padding: 20px;
}

footer > div {
  padding: 18px;
  display: flex;
  justify-content: space-between;
}

footer select {
  padding: 10px 6px;
  flex:1;
  border: 1px solid rgba(0,0,0,.2);
  height: 90px;
  font-size: 17px;
}

header svg,
header img {
  position: fixed;
  top: 100px;
  left: 50%;
  width: 400px;
  height: 400px;
  margin:0 0 0 -200px;
}

.started header svg,
.started header img {
  transform: rotate(var(--rotations_speedup));
  transition: transform ease-in;
  transition-duration: var(--speedup);
}

.middle header svg,
.middle header img {
  transform: rotate(var(--rotations_runtime));
  transition: transform linear;
  transition-duration: var(--runtime);
}

.ending header svg,
.ending header img {
  transform: rotate(var(--rotations_slowdown));
  transition: transform ease-out;
  transition-duration: var(--slowdown);
}

.controls {
  /* padding:10px; */
  /* display: flex; */
  /* justify-content: space-between; */
  /* font-size: 30px; */
  /* font-family: monospace; */
}


@keyframes start {
  0% {
    transform:rotate(0deg); 
  }
  100% {
    transform:rotate(360deg); 
  }
}

@keyframes spin { 
  100% { 
      transform:rotate(360deg); 
  } 
}

@keyframes end {
  0% {
    transform:rotate(0deg); 
  }
  100% {
    transform:rotate(360deg); 
  }
}