#jamestimer {
  /* border:10px solid red; */
  box-sizing: border-box;
}

body {
  margin:0;
  padding:0;
}

main {
  display:flex;
  flex-direction: column;
}

.innerwrap  {
  /* display: flex; */
  /* justify-content: center; */
  /* height: calc(100vh - 100px); */
  /* align-items: center; */
  /* position: absolute; */
  /* width: 100vw; */
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -200px -150px;
}

.innerwrap .blades-wrap {
  transform: scale(2);
}

.innerwrap svg {
  display:block;
}

footer {
  position:fixed;
  bottom:0;
  width:calc(100% - 36px);

}

footer > div.new-timer-section {
  padding: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer > div.new-timer-section > div {
  width: 100%;
}

footer > div.new-timer-section input {
  padding: 10px;
  font-size: 20px;
  display: block;
  width:120px;
}

footer > div.new-timer-section button {
  padding: 20px;
  width: 290px;
}

footer > div > input {
  padding: 20px;
}

footer > div {
  padding: 18px;
  display: flex;
  justify-content: space-between;
}

footer select {
  padding: 10px 6px;
  flex:1;
  border: 1px solid rgba(0,0,0,.2);
  height: 90px;
  font-size: 17px;
}

.innerwrap svg {
  /* position: fixed; */
  /* top: 100px;
  left: 50%;
  width: 400px;
  height: 400px; */
  /* margin:0 0 0 -200px; */
}

.started .innerwrap svg,
.started .innerwrap img {
  transform: rotate(var(--rotations_speedup));
  transition: transform ease-in;
  transition-duration: var(--speedup);
}

.middle .innerwrap svg,
.middle .innerwrap img {
  transform: rotate(var(--rotations_runtime));
  transition: transform linear;
  transition-duration: var(--runtime);
}

.ending .innerwrap svg,
.ending .innerwrap img {
  transform: rotate(var(--rotations_slowdown));
  transition: transform ease-out;
  transition-duration: var(--slowdown);
}

.controls {
  /* padding:10px; */
  /* display: flex; */
  /* justify-content: space-between; */
  /* font-size: 30px; */
  /* font-family: monospace; */
}


@keyframes start {
  0% {
    transform:rotate(0deg); 
  }
  100% {
    transform:rotate(360deg); 
  }
}

@keyframes spin { 
  100% { 
      transform:rotate(360deg); 
  } 
}

@keyframes end {
  0% {
    transform:rotate(0deg); 
  }
  100% {
    transform:rotate(360deg); 
  }
}