:root {
  --buttton-width: 5em;
  --color: black;
  --background-color: #fed469;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

@media (max-width: 600px) {

  html,
  body {
    font-size: 14px;
  }
}

@media (max-width: 580px) {

  html,
  body {
    font-size: 11px;
  }
}

@media (max-width: 500px) {

  html,
  body {
    font-size: 10px;
  }
}

main.speedup>form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  font-family: 'Nimbus Mono PS', 'Courier New', 'Cutive Mono', monospace;
}

main.speedup-dialog>form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50dvh;
  font-family: 'Nimbus Mono PS', 'Courier New', 'Cutive Mono', monospace;
}

main.speedup>form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}

main.speedup .timer {
  font-size: 4.5rem;
  /* font-family: 'Nimbus Mono PS', 'Courier New', 'Cutive Mono', monospace; */
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  margin: 0.5rem;
  border: none;
  border-radius: 0.125rem;
  color: var(--color);
  background-color: var(--background-color);
  /* cursor: pointer; */
  padding: 0.180rem 0.8rem;
  font-weight: 900;
  margin-bottom: 70px;
}

main.speedup select,
main.speedup input[type="text"],
main.speedup input[type="number"] {
  font-size: 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: .5rem;
  text-align: center;
  min-width: 24rem;
  box-sizing: border-box;
}

main.speedup.delay.running input[type="number"] {
  color: green;
}

main.speedup button[type="reset"] {
  border: none;
}

main.speedup>form button {
  color: var(--color);
  background-color: var(--background-color);
}

main.speedup button {
  font-size: 3rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 0.125rem;
  cursor: pointer;
  padding: 0.180rem 0.8rem;
  font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
  line-height: 4rem;
}

main.speedup>form button:hover {
  color: var(--background-color);
  background-color: var(--color);
}

main.speedup section:has(.setting-item) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}

main.speedup .setting-item {
  display: block;
}

main.speedup .setting-item>span {
  /* position: absolute; */
  /* font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif; */
  font-family: Superclarendon, 'Bookman Old Style', 'URW Bookman', 'URW Bookman L', 'Georgia Pro', Georgia, serif;
  /* text-transform: uppercase; */
  /* margin: 15px -40px; */
  /* font-style: italic; */
  /* opacity: .5; */
  /* transform: rotate(-90deg); */
  /* transform: matrix3d(1, -0.8, 1, 0.01, 2.4, 2.5, 0.1, 0.06, 0, -0.9, 1, 0, -11, 0, 0, 1.1); */
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: capitalize;
  /* transform: translate(-50%, -100%); */
  text-align: left;
  display: block;
  margin: .5rem 0 0;
}

html.ampm-game {
  /* background-color: var(--background-color); */
  /* color: var(--color); */
}

main.speedup dialog .change-note button {
  font-size: 1rem;
  line-height: 2rem;
}

main.speedup dialog .change-note table {}